@page "/Admin/Editor"
@inject IJSRuntime Js
@inject IFreeSql Db
<PageTitle>后台</PageTitle>


<div id="edit">
    <div id="editor"></div>
</div>

@code {
    string? _title;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("InitEditor");
        }
    }

    async Task<string> GetEditorData()
    {
        return await Js.InvokeAsync<string>("GetEditorData");
    }

    async Task Post()
    {
        await Db.Insert(new Model.Article
        {
            Content = await GetEditorData(),
            Datetime = DateTime.Now,
            Title = _title
        })
            .ExecuteIdentityAsync();
    }

}