#first-card {
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
    aspect-ratio: 1/1;
    background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-10-12%2F59df06d7c561f.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1673008834&t=46dc0a123dd5099d4ffab35f013d6357');
    background-size: cover;
    background-position:center center;
}
