#first-card {
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
    aspect-ratio: 1/1;
    background-image: url('https://img1.baidu.com/it/u=3500460837,1312799978&fm=253&fmt=auto&app=120&f=JPEG?w=1422&h=800');
    background-size: cover;
    background-position: center center;
}
