@inherits LayoutComponentBase

<MudThemeProvider Theme="_defaultTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudPaper MinHeight="500px">
    <MudDrawerContainer>
        <MudDrawer Open="true" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Primary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">🏮Lantin 后台</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/admin" Match="NavLinkMatch.All" Icon="@Icons.Filled.Dashboard" IconColor="Color.Inherit">面板</MudNavLink>
                <MudNavLink  Href="/admin/editor" Match="NavLinkMatch.All" Icon="@Icons.Filled.LocalLibrary" IconColor="Color.Inherit">新建</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
        <div style="background-color:black;min-height:100vh" class="pa-3">
                @Body
        </div>
    </MudDrawerContainer>
</MudPaper>
</MudLayout>
@code{
    readonly MudTheme _defaultTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = "#20282d",
                Secondary = "#00bcb4",
                TextPrimary = "#fff",
                TextSecondary = "#fff",
                Background = "#000",
                Surface = "#20282d"
            },
        };
}
