<MudLink Color="Color.Surface" Href="/"><MudText Typo="Typo.h5"><span class="">🏮</span> Lantern</MudText></MudLink>    
<MudSpacer />
<MudIconButton Icon="@Icons.Filled.Brightness6" Color="Color.Inherit" />
