<MudLink Color="Color.Surface" Href="/">
    <MudText Typo="Typo.h5"><span class="">🏮</span> Lantin</MudText>
</MudLink>
<MudSpacer/>
<MudIconButton Href="/admin" Icon="@Icons.Filled.Login" Color="Color.Inherit"/>